# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DailyRem/Debug
/DailyRem/GeneratedFiles
/SetWindowTitle/GeneratedFiles
/SetWindowTitle/Debug
/*.suo
/*.sdf
/Win32/Debug
/ipch/dailyrem-a66e777f/*.ipch
/ipch
/SetWindowTitle/*.user
/test/Debug
/Debug
/test2/Debug
/test2/*.user
/*.opensdf
/test/*.user
*.user
/*/Debug
/*/Release
/test*
/XstrainSkinChecker/*.user
/flyAnimation/*.user
/*/GeneratedFiles
*.aps